
.title{
    display: flex;
    justify-content: center;
    text-align: center;
}

.title-box{
    justify-content:center;
    align-items: center;
    flex-direction: row;
    display: flex;
}

.title-box i{
    margin-left: 10px;
}

img{
    cursor: pointer;
    width: 23px;
    margin-left: 5px;
}