.container{
    padding: 20px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

form{margin-top: 20px; text-align: center;}

input{
    padding: 8px;
    border-radius: 8px;
}

button{
    background-color: rgb(18, 78, 141);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    margin: 5px;
    cursor: pointer;
}


/*Icones*/
img{
    cursor: pointer;
    width: 20px;
    margin: 10px;
}
img:hover{filter:saturate(3)}

.comprou{width: 23px;}
.Editar{width: 23px;}

h2{
    color: rgb(18, 78, 141);
    text-align: center;
}

button:hover{
    background-color:  rgb(41, 116, 196);
    transition: 0.1s;
}

.completed {
    color: rgb(19, 124, 14); 
    text-decoration: line-through;
    font-weight: medium;
  }
  

.naocomprados{
    margin-bottom: 20px;
    margin-top: 30px;
}

.naocomprados ul li{
    text-decoration: none;
    border-bottom: solid 1px gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botoes-edicao-item{
    text-align: right;
    justify-content: baseline;
}

.naocomprados .botoes-edicao-item img{
    margin: 0, 0.5px;
}
ul{
    text-decoration: none;
}
.comprados ul li{
    border-bottom: solid 1px gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    justify-content: center;
    text-align: center;
}

@media (max-widh:760px) {
    .naocomprados ul li{
        justify-content: center;
    }

}