<div class="container">
    <form (submit)="addItem()">
      <input type="text" [(ngModel)]="newItem" name="itemInput" placeholder="Adicione um item" required />
      <button type="submit">Adicionar</button>
    </form>
  
    <div class="naocomprados">
        <h2>Itens da Lista</h2>
        <ul>
        <li *ngFor="let item of shoppingList; let i = index" [ngClass]="{'completed': item.completed}">
            {{ item.name }}
            <div class="botoes-edicao-item">
                <img class="comprou" src="assets/circle-check-solid (2).svg" (click)="markAsBought(i)"/>
                <img class="Editar" src="assets/pen-to-square-solid (1).svg" (click)="editItem(i)"/>
                <img class="Excluir" src="assets/trash-solid (1).svg" (click)="deleteItem(i)"/>
            </div>
        </li>
        </ul>
    </div>
  
    <div class="comprados">
        <h2>Itens Comprados</h2>
        <ul>
        <li *ngFor="let item of purchasedItems">
            {{ item.name }}
        </li>
        </ul>
    </div>
  </div>
  
  
