<div class="container">
    <form (submit)="addItem()">
      <input type="text" [(ngModel)]="newItem" name="itemInput" placeholder="Adicione um item" required />
      <button type="submit">Adicionar</button>
    </form>
  
    <div class="naocomprados">
        <h2>Itens da Lista</h2>
        <ul>
        <li *ngFor="let item of shoppingList; let i = index" [ngClass]="{'completed': item.completed}">
            {{ item.name }}
            <div class="botoes-edicao-item">
            <i id="comprou" class="fa-solid fa-circle-check" (click)="markAsBought(i)"></i>
            <i id="Editar" class="fa-solid fa-pen-to-square" (click)="editItem(i)"></i>
            <i id="Excluir" class="fa-solid fa-trash" (click)="deleteItem(i)"></i>
            </div>
        </li>
        </ul>
    </div>
  
    <div class="comprados">
        <h2>Itens Comprados</h2>
        <ul>
        <li *ngFor="let item of purchasedItems">
            {{ item.name }}
        </li>
        </ul>
    </div>
  </div>
  
  
