<div class="container">
    <form (submit)="addItem()">
      <input type="text" [(ngModel)]="newItem" name="itemInput" placeholder="Adicione um item" required />
      <button type="submit">Adicionar</button>
    </form>
  
    <div class="naocomprados">
        <h2>Itens da Lista</h2>
        <ul>
        <li *ngFor="let item of shoppingList; let i = index">
            {{ item.name }}
            <div class="botoes-edicao-item">
            <button id="comprou" (click)="markAsBought(i)">Marcar como Comprado</button>
            <button (click)="editItem(i)">Editar</button>
            <button id="Excluir" (click)="deleteItem(i)">Excluir</button>
            </div>
        </li>
        </ul>
    </div>
  
    <div class="comprados">
        <h2>Itens Comprados</h2>
        <ul>
        <li *ngFor="let item of purchasedItems">
            {{ item.name }}
        </li>
        </ul>
    </div>
  </div>
  
  
