/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

app-header{
    background-color: blue;
}

.container{
    display: flex;
    justify-content: center;
    width: 100%;
}

.content-container{
    max-width: 760px;
    text-align: center;
    width: 100%;
}

@media (max-width: 760px){
    .content-container{
        max-width: 600px;
        text-align: center;
    }
    .container{
        display: flex;
        justify-content: center;
        width: 95%;
    }
}

